/*COLORES BV
.modal-header{
    background: #dea32a;
    color: white;
}*/
/*COLORES BVM
.modal-header{
    background: #EAB13C;
    color: white;
}*/
/*COLORES STT*/
.modal-header{
    background: #48B4C8;
    color: white;
}