/*COLORES BV
.modal-header{
    background: #dea32a;
    color: white;
}*/
/*COLORES BVM
.modal-header{
    background: #EAB13C;
    color: white;
}*/
/*COLORES STT*/
.modal-header{
    background: #48B4C8;
    color: white;
}
.modal{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    animation: modal 2s 2s forwards;
    visibility: hidden;
    opacity: 0;
}

.close {
    animation: modal 2s 2s forwards;
    visibility: hidden;
    opacity: 0;
}
@media(max-width:767px){
    #cerrar + label{
        margin-right: -200px;
    }
}
.close:checked, .close:checked ~ .modal{
    display: none;
}
@keyframes modal{
    100%{
      visibility: visible;
      opacity: 1;
     }
}
