.modal{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    animation: modal 2s 2s forwards;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
}
#anim{
    max-width: 400px;
    margin: 0 auto;
    margin: auto;
    width: 80%;
    height: 78%;
    background: transparent;
    border-radius: 10px;
    color: 	#999999;
    cursor: pointer;
    position: fixed;
}
#cerrar{
    display: none;
}
#cerrar + label{
    position: fixed;
    color: #F78A1C;
    font-size: 35px;
    z-index: 1200;
    height: 40px;
    width: 40px;
    line-height: 35px;
    border-radius: 50%;
    right: 250px;
    top: 100px;
    cursor: pointer;
    animation: modal 2s 2s forwards;
    visibility: hidden;
    opacity: 0;
}
@media(max-width:767px){
    #cerrar + label{
        margin-right: -200px;
    }
}
#cerrar:checked + label, #cerrar:checked ~ .modal{
    display: none;
}
@keyframes modal{
    100%{
      visibility: visible;
      opacity: 1;
     }
}
#btn-cerrar img{
    max-width: 50px;
}
.btn-close{
    position: fixed;
    color: #F78A1C;
    font-size: 35px;
    z-index: 1200;
    height: 40px;
    width: 40px;
    line-height: 35px;
    border-radius: 50%;
    right: 250px;
    top: 100px;
    cursor: pointer;
    animation: modal 2s 2s forwards;
    visibility: hidden;
    opacity: 0;
}